@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #181818;
}

button {
    color: white;
    background-color: #3c3c3c;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

p {
    font-size: 16px;
}

.code {
    color: white;
    background-color: #181818;
    padding: 2px 5px;
    border: none;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    margin: 5px 0px;
    width: 100%;
    height: 100%;
    resize: none;
    font-family: 'Monaco', monospace;
}

.icon-button {
    
    position: relative;
    margin-top: 5px;
}
button:hover {
    background-color: #00C49A;
}

.navbar {
    background-color: #3c3c3c;
    color: white;
    padding: 17px 100px;
    text-align: center;
    /* border-color: white;
    border-bottom: solid 1px; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    justify-content:space-between;
    z-index: 2;
}

.editor-container {
    display: flex;
    height: calc(100vh - 60px); /* Adjust for navbar height */
    z-index: 1;
}

.sidebar {
    padding: 10px 25px;
    background-color: #2c2c2c;
    overflow-y: auto;
    color: white;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
}

.left {
    order: -1; /* Place on the left */
}

.right {
    order: 1; /* Place on the right */
}

canvas {
    /* flex-grow: 1; */
    background-color: #181818;
}

/* #00C49A */

.panels {
    display: inline-block;
}